@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.topMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
  height: $burgerMenuHeight;
  padding: 0 $s;
  background-color: var(--background);
  position: fixed;
  width: calc(100% - $s * 2);
  top: 0;
  z-index: 50;

  * {
    flex: 1 0 0;
  }
}

.themeSwitcherContainer {
  margin-top: 4px;

  button {
    margin-left: 4px;
  }
}

.menuPage {
  display: flex;
  justify-content: center;
}

.menuTitleLink {
  max-width: fit-content;
  @extend %fontL;
  text-align: center;
  font-weight: bold;
}

.disableTitleLink {
  pointer-events: none;
}

.backArrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backArrowLink {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50px;
  margin-right: $l;
  height: 50px;
}

.burgerMenuContainer {
  display: flex;
  justify-content: flex-end;
}

.burgerMenuButton {
  z-index: 99;
  position: fixed;
  width: 58px;
  height: 50px;
  top: 0;
  right: 0;
}
