@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.topMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
  height: $burgerMenuHeight;
  padding: 0 $s;
  background-color: var(--background);
  position: fixed;
  width: calc(100% - $s * 2);
  top: 0;
  z-index: 50;

  * {
    flex: 1 0 0;
  }
}

.themeSwitcherContainer {
  margin-top: 4px;
}

.menuPage {
  p {
    flex: 1;
    @extend %fontL;
    text-align: center;
    font-weight: bold;
  }
}

.backArrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backArrowLink {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 24px;
  margin-right: $l;
}

.burgerMenuContainer {
  display: flex;
  justify-content: flex-end;
}

.burgerMenuButton {
  z-index: 99;
  position: fixed;
  right: 20px;
  top: 15px;
}
