@import '@styles/variables.module.scss';

.baseLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.innerLayout {
  display: grid;
  grid-template-columns: 2fr 8fr 1fr;
  height: 100%;
  width: 90%;
}

.topBar {
  height: calc(5vh - 2px);
  width: calc(100% - 20px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  z-index: 50;
  opacity: 0.35;
}

.topBarBorder {
  opacity: 1;
  border-bottom: 1px solid var(--black);
}

.bar {
  width: 100%;
  height: 1px;
  background-color: var(--black);
}

.mainContainer {
  position: relative;
  max-height: 90vh;
}

.menuContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.menuInner {
  height: 90%;
}

.pageInfoContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.pageInfoInner {
  height: 90%;
  width: 100%;
}

