@import '@styles/variables.module.scss';

.baseLayout {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.innerLayout {
  display: grid;
  grid-template-columns: 2fr 8fr 1fr;
  height: 100vh;
  width: 90vw;
}

.topBar {
  height: 5vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--black);
  z-index: 50;
}

.mainContainer {
  position: relative;
  max-height: 90vh;
}

.menuContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.menuInner {
  height: 90%;
}

.pageInfoContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.pageInfoInner {
  height: 90%;
  width: 100%;
}

