@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  position: relative;
  height: calc(100% - $l * 2);
  padding: 40px;

  @media screen and (max-width: $mobileBreakpoint) {
    padding: 16px;
  }
}

.innerContainer {
  display: flex;
  height: 100%;

  @media screen and (max-width: $mobileBreakpoint) {
    display: block;
  }
}

.closeButton {
  position: absolute;
  right: $l;
  top: $l;

  @media screen and (max-width: $mobileBreakpoint) {
    right: $s;
    top: $s;
  }
}

.leftRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;

  @media screen and (max-width: $mobileBreakpoint) {
    width: 100%;
  }
}

.upperLeftRow {
  display: flex;
  flex-direction: column;
}

.rightRow {
  display: flex;
  justify-content: center;
  width: 40%;

  @media screen and (max-width: $mobileBreakpoint) {
    width: 100%;
  }
}

.title {
  @extend %fontXL;

  @media screen and (max-width: $mobileBreakpoint) {
    width: 85%;
  }
}

.role {
  margin-top: $m;
  color: $background;
  background-color: $black;
  width: fit-content;
  padding: $xxs;
}

.description {
  @extend %fontS;
  margin-top: $m;
}

.techStack {
  margin-top: $m;
  display: flex;
  align-items: center;
  gap: $s;
}

.link {
  background-color: $accent;
  padding: $xxs;
  text-decoration: underline;
}
