@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  position: relative;
  height: calc(100% - $m * 2);
  padding: $m;

  @media screen and (max-width: $modalFullscreenBreakpoint) {
    padding: $s;
    height: calc(100% - $s * 2);
  }
}

.innerContainer {
  display: flex;
  height: 100%;

  @media screen and (max-width: $modalFullscreenBreakpoint) {
    flex-direction: column;
  }
}

.closeButton {
  position: absolute;
  right: $s;
  top: $s;
}

.leftRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;

  @media screen and (max-width: $modalFullscreenBreakpoint) {
    width: 100%;
    justify-content: unset;
  }
}

.upperLeftRow {
  display: flex;
  flex-direction: column;
}

.rightRow {
  display: flex;
  justify-content: center;
  width: 40%;

  @media screen and (max-width: $modalFullscreenBreakpoint) {
    width: 100%;
    margin-bottom: $s;
    margin-top: $s;
  }
}

.title {
  @extend %fontXL;

  @media screen and (max-width: $modalFullscreenBreakpoint) {
    width: 85%;
  }
}

.role {
  margin-top: $m;
  color: var(--background);
  background-color: var(--black);
  width: fit-content;
  padding: $xxs;
}

.description {
  @extend %fontS;
  margin-top: $m;
}

.techStack {
  margin-top: $m;
  display: flex;
  align-items: center;
  gap: $s;
}

.link {
  margin-top: $m;
  background-color: var(--accent);
  padding: $xxs;
  text-decoration: underline;
  width: fit-content;

  @media screen and (max-width: $modalFullscreenBreakpoint) {
    padding: $xxs 0;
    width: 100vw;
    margin-left: $s * -1;
    text-align: right;

    > p {
      margin-right: $s;
    }
  }
}
