$background: #171717;
$textColor: #e3e3e3;
$textColorInverted: #171717;
$black: #ffffff;
$white: #000000;
$gray: #747474;
$accent: #e08c8c;

:export {
  background: $background;
  black: $black;
  textColor: $textColor;
  textColorInverted: $textColorInverted;
  white: $white;
  gray: $gray;
  accent: $accent;
}
