$background: #e3e3e3;
$textColor: #000000;
$black: #000000;
$white: #ffffff;
$gray: #747474;
$accent: #e08c8c;

:export {
  background: $background;
  textColor: $textColor;
  black: $black;
  white: $white;
  gray: $gray;
  accent: $accent;
}
