@import '@styles/variables.module.scss';

%defaultTypo {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

%fontS {
  font-size: 14px;
  line-height: 150%;
}

%fontXS {
  font-size: 12px;
  line-height: 150%;
}

%fontM {
  font-size: 16px;
  line-height: 150%;
}

%fontML {
  font-size: 20px;
  line-height: 150%;
}

%fontL {
  font-size: 24px;
  line-height: 150%;
}

%fontXL {
  font-size: 36px;
  line-height: 150%;
}

%fontXXL {
  font-size: 48px;
  line-height: 150%;
}

%underline {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  position: relative;

  &:after {
    content: '';
    height: 0;
    transition: all 250ms ease-out;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1px;
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    &:after {
      background-color: var(--accent);
      height: 100%;
      opacity: 1;
    }
  }
}

%underlineS {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
