@import '@styles/variables.module.scss';

%defaultTypo {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

%fontS {
  font-size: 14px;
  line-height: 150%;
}

%fontXS {
  font-size: 12px;
  line-height: 150%;
}

%fontM {
  font-size: 16px;
  line-height: 150%;
}

%fontL {
  font-size: 24px;
  line-height: 150%;
}

%fontXL {
  font-size: 36px;
  line-height: 150%;
}

%fontXXL {
  font-size: 48px;
  line-height: 150%;
}

%underline {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

