@import '@styles/variables.module.scss';

%defaultTypo {
  font-size: 16px;
  font-weight: 400;
  color: $black;
}

%fontS {
  font-size: 14px;
}

%fontM {
  font-size: 16px;
  line-height: 150%;
}

%fontL {
  font-size: 24px;
}

%fontXL {
  font-size: 48px;
}
