$background: #e3e3e3;
$black: #000000;
$white: #ffffff;
$gray: #747474;
$accent: #e08c8c;

$xxs: 4px;
$xs: 8px;
$s: 16px;
$sm: 24px;
$m: 32px;
$l: 40px;
$xl: 48px;
$xxl: 64px;
$g: 96px;

$mobileBreakpoint: 1100px;
$modalFullscreenBreakpoint: 650px;
$modalWidthDesktop: 600px;
$modalHeightDesktop: 600px;
$burgerMenuHeight: 50px;
$footerHeight: 40px;
$desktopContentMaxWidth: 1000px;

:export {
  background: $background;
  black: $black;
  white: $white;
  gray: $gray;
  accent: $accent;
  modalFullscreenBreakpoint: $modalFullscreenBreakpoint;
  mobileBreakpoint: $mobileBreakpoint;
  modalWidthDesktop: $modalWidthDesktop;
  modalHeightDesktop: $modalHeightDesktop;
}
