$background: #e3e3e3;
$black: #000000;
$white: #ffffff;
$gray: #747474;
$accent: #e08c8c;

$xxs: 4px;
$xs: 8px;
$s: 16px;
$m: 32px;
$l: 40px;
$xl: 48px;
$xxl: 64px;
$g: 96px;

:export {
  background: $background;
  black: $black;
  white: $white;
  gray: $gray;
  accent: $accent;
}
