@import '@styles/variables.module.scss';

.workContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

.workContainerInner {
  padding: $l;
}

.workButtons {
  margin-top: 150px;
  display: flex;
  gap: $g;
  flex-wrap: wrap;
  padding: 0 $m 0 calc(15px + $m);
  height: fit-content;
}
