@import '@styles/variables.module.scss';

.workContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: $m;
  margin-top: 5vh;
  height: calc(100vh - $m * 2 - 5vh);
  
  @media screen and (max-width: $mobileBreakpoint) {
    height: calc(100vh - $burgerMenuHeight - $m * 2);
    margin-top: $burgerMenuHeight;
  }
}

.workWords {
  margin-top: $l;

  @media screen and (max-width: $mobileBreakpoint) {
    margin-top: $s;
  }
}

.workButtons {
  width: calc(100% - 15px);
  margin-top: $g;
  padding-left: 15px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobileBreakpoint) {
    margin-top: $l;
  }
}

.workButtonsInner {
  display: flex;
  gap: $g;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;

  @media screen and (max-width: $mobileBreakpoint) {
    gap: $l;
  }
}

.buttonCubeContent {
  width: 100%;
  height: 100%;
  padding: $s;
  box-sizing: border-box;
  font-size: $sm;
  line-height: 160%;
}

.frtv {
  text-align: left;
  margin-top: -4px;
}

.dmag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cryptonovae {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.mashup {
  position: relative;
  padding: 0;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;

    > p:nth-of-type(1) {
      position: absolute;
      top: 0;
      left: 12px;
    }

    > p:nth-of-type(2) {
      position: absolute;
      transform: rotate(90deg);
      right: -22px;
      bottom: 35px;
    }
  }
}

.tripica {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
