@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: $m;

  @media screen and (max-width: $mobileBreakpoint) {
    margin-top: $m;
  }
}

.postTitle {
  @extend %underline;
}

.postDate {
  @extend %fontXS;
  opacity: 0.75;
  margin-top: 2px;
}
