@import '@styles/variables.module.scss';

$skewX: -45;
$skewY: 90 - $skewX;
$skewXDeg: $skewX * 1deg;
$skewYDeg: $skewY * 1deg;
$pi: 3.14;
$boxWidth: 300px;
$topFaceHeight: 35px;
$bottomFaceHeight: 25px;

$xRad: calc(abs($skewX) * $pi / 180);
$addedWidth: calc($topFaceHeight * tan($xRad));

$yRad: calc(abs($skewY) * $pi / 180);
$addedHeight: calc($addedWidth * tan($yRad));

$door1Width: 100px;
$door2Width: 230px;

$doorHeight: 15px;
$doorTop: $topFaceHeight / 2 - $doorHeight / 2;

.container {
  width: 500px;
  height: 500px;
}

.innerContainer {
  position: relative;
  transform: rotate(90deg) translate(60%);
}

.box {
  width: $boxWidth;
  position: relative;
}

.face {
  position: absolute;
}

.faceTop {
  position: absolute;
  display: flex;
  gap: 75px;
  width: $boxWidth;
  height: $topFaceHeight;
  transform: skewX($skewXDeg);
  border-top: 1px solid $black;
  border-left: 1px solid $black;
  background-color: $background;
}

.faceBottom {
  position: absolute;
  top: $topFaceHeight;
  left: calc($addedWidth / 2 * -1);
  width: $boxWidth + 1;
  height: $bottomFaceHeight;
  background-color: $black;
  border-right: 1px solid $black;
}

.faceRight {
  position: absolute;
  width: $addedWidth;
  height: $bottomFaceHeight;
  background-color: $black;
  right: calc($addedWidth / 2 * -1) - 2;
  top: calc($addedHeight / 2 * -1);
  transform: skewY($skewYDeg);
  border-left: 1px solid $black;
}

.door1Container {
  position: relative;
  width: $boxWidth / 2;
  height: $topFaceHeight;
  display: flex;
  justify-content: flex-end;

  .door {
    background-color: #e08c8c;
  }
}

.door2Container {
  position: relative;
  width: $boxWidth / 2;
  height: $topFaceHeight;
  display: flex;
  justify-content: flex-start;

  .door {
    background-color: #8ce08c;
  }
}

.door1Inner {
  position: relative;
  width: 75px;
  display: flex;
  justify-content: flex-end;
}

.door2Inner {
  position: relative;
  width: 75px;
  display: flex;
  justify-content: flex-start;
}

.door {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 1px solid $black;
}

.hidePanels {
  position: relative;
  width: 100%;
}

.topHidePanel {
  $heightSide: ($topFaceHeight - $doorHeight) / 2 - 2;
  $addedWidthSide: calc($heightSide * tan($xRad));

  position: absolute;
  transform: skewX($skewXDeg);
  left: calc(0px - $addedWidthSide) - 2;
  top: $topFaceHeight - ($topFaceHeight - $doorHeight) / 2 + 2;
  width: $boxWidth;
  height: $heightSide;
  background-color: $background;
}

.bottomHidePanel {
  position: absolute;
  width: $boxWidth;
  height: 100vw;
  background-color: $background;
  top: calc($topFaceHeight + $bottomFaceHeight);
}

.word1Container {
  position: absolute;
  left: 125px;
  bottom: -230px;
  transform: rotate(-90deg);
}

.word2Container {
  position: absolute;
  left: 275px;
  bottom: -230px;
  transform: rotate(-90deg);
}
