@import '@styles/variables.module.scss';

.nothingContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mobileBreakpoint) {
    margin-top: $burgerMenuHeight;
  }
}

.container {
  @media screen and (max-width: $mobileBreakpoint) {
    margin-top: $burgerMenuHeight;
  }
}
