@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

$circleDiameter: 100px;

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner {
  position: relative;
  width: calc(var(--workCircleDiameter) + 4px);

  @media screen and (max-width: $mobileBreakpoint) {
    width: 100%;
  }
}

.tube {
  border-radius: calc(var(--workCircleDiameter) / 2);
  width: 100%;
  height: calc(var(--workCircleDiameter) + 4px);
  background-color: $black;

  @media screen and (max-width: $mobileBreakpoint) {
    width: calc(var(--workCircleDiameter) + 4px);
  }
}

.circle {
  position: absolute;
  width: var(--workCircleDiameter);
  height: var(--workCircleDiameter);
  border-radius: 100%;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $background;
  border: 2px solid $black;

  @media screen and (max-width: $mobileBreakpoint) {
    left: 0;
    top: 0;
    right: 2px;
    transform: unset;
  }
}

.date {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $mobileBreakpoint) {

  }
}

.dateTop {
  @extend %fontS;
  color: $background;
  height: calc(var(--workCircleDiameter) - 10px);

  > p:first-of-type {
    @extend %fontXS;
  }
}

.dateBottom {
  @extend %fontS;
  color: $black;
  margin-top: 10px;

  > p:first-of-type {
    @extend %fontXS;
  }
}

.dashLineContainer {
  width: 100%;
  display: flex;
  justify-content: center;


}

.topDashLine {
  margin-top: -40px;
  @media screen and (max-width: $mobileBreakpoint) {
    transform-origin: center;
    transform: rotate(90deg);
  }
}

:export {
  circleDiameter: 150px;
}
