@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner {
  position: relative;
  width: calc(var(--workCircleDiameter) + 4px);

  @media screen and (max-width: $mobileBreakpoint) {
    width: 100%;
  }
}

.tube {
  border-radius: calc(var(--workCircleDiameter) / 2);
  width: 100%;
  height: calc(var(--workCircleDiameter) + 4px);
  background-color: var(--black);

  @media screen and (max-width: $mobileBreakpoint) {
    width: calc(var(--workCircleDiameter) + 4px);
    display: flex;
    align-items: center;
  }
}

.circle {
  position: absolute;
  width: var(--workCircleDiameter);
  height: var(--workCircleDiameter);
  border-radius: 100%;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  border: 2px solid var(--black);

  @media screen and (max-width: $mobileBreakpoint) {
    display: flex;
    left: 0;
    top: 0;
    right: 2px;
    transform: unset;
  }
}

.date {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dateTop {
  @extend %fontS;
  height: calc(var(--workCircleDiameter) - 10px);

  p {
    color: var(--textColorInverted);
  }

  @media screen and (max-width: $mobileBreakpoint) {
    min-width: var(--workCircleDiameter);
  }

  > p:first-of-type {
    @extend %fontXS;
  }
}

.dateBottom {
  @extend %fontS;
  color: var(--black);
  margin-top: 10px;

  @media screen and (max-width: $mobileBreakpoint) {
    min-width: var(--workCircleDiameter);
    margin-top: 0;
    margin-left: -24px;
  }

  > p:first-of-type {
    @extend %fontXS;
  }
}

.dashLineContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobileBreakpoint) {
    height: 100%;
    align-items: center;
  }
}

.dashLineContainerBottom {
  width: 100%;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobileBreakpoint) {
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
}

.topDashLineDesktop {
  margin-top: -40px;
}

.topDashLineMobile {
  margin-left: -20px;
}
