@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  word-wrap: break-word;
  width: 100%;
  height: calc(100vh - $footerHeight);
  padding: $m;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: $fontM;
  line-height: 150%;

  @media screen and (max-width: $superSmallDevice) {
    font-size: $fontXS;
  }

  @media screen and (min-width: $mobileBreakpoint) {
    padding-top: 5vh;
  }

  @media screen and (max-width: $mobileBreakpoint) {
    margin-top: $burgerMenuHeight;
    height: calc(100vh - $burgerMenuHeight);
  }

  @media screen and (max-width: $modalFullscreenBreakpoint) {
    padding: $s;
  }

  pre {
    line-height: 150%;
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
  }

  code {
    padding: 1px;
    border-radius: 4px;
    color: var(--codeColor);
    background: var(--codeBackground);
    border: var(--codeBorder);
  }

  a:not(.backContainer) {
    @extend %underline;
  }

  img {
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--black);
    margin: $s 0;
  }
}

.innerContainer {
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: 800px;
  height: calc(fit-content + $g);

  @media screen and (max-width: $mobileBreakpoint) {
    max-width: 600px;
  }
}

.title {
  @extend %fontXXL;
  margin-bottom: $l;
  margin-top: $s;
}

.h2 > h2 {
  @extend %fontXL;
  margin-top: $l;
  margin-bottom: $m;
}

.h3 > h3 {
  @extend %fontL;
  margin-top: $l;
  margin-bottom: $m;
}

.separator {
  margin: $m 0;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    width: $g;
    height: 1px;
    background-color: var(--black);
  }
}

.block {
  &:not(.h2, .h3, .framedText) {
    margin-bottom: 1em;
  }

  &.framedText > .block:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (max-width: $mobileBreakpoint) {
    width: calc(100vw - $s * 2);
    max-width: 600px;
  }
}

.blockImage {
  display: flex;
  justify-content: center;
}

.postFooter {
  height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $s;

  @media screen and (min-width: $mobileBreakpoint) {
    padding: 0;
  }
}

.backContainer {
  display: flex;
  align-items: center;
  gap: $s;

  @media screen and (min-width: $mobileBreakpoint) {
    display: none;
  }

  p {
    @extend %underlineS;
  }

  svg {
    margin-top: 2px;
  }
}

.framedText {
  border: 1px dashed var(--black);
  box-sizing: border-box;
  padding: $s;
  margin-top: $s;
  margin-bottom: $m;
  background-color: var(--accent);

  @media screen and (max-width: $superSmallDevice) {
    padding: $xs;
  }
}
