@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  word-wrap: break-word;
  width: 100%;
  height: calc(100vh - $footerHeight);
  padding: $m;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  @media screen and (min-width: $mobileBreakpoint) {
    padding-top: 5vh;
  }

  @media screen and (max-width: $mobileBreakpoint) {
    margin-top: $burgerMenuHeight;
    height: calc(100vh - $burgerMenuHeight);
  }

  @media screen and (max-width: $modalFullscreenBreakpoint) {
    padding: $s;
  }

  span {
    font-size: 14px;

    @media screen and (max-width: $superSmallDevice) {
      font-size: 12px;
    }
  }

  pre {
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
  }

  code {
    padding: 1px;
    border-radius: 4px;
    color: var(--codeColor);
    background: var(--codeBackground);
    border: var(--codeBorder);
  }

  a:not(.backContainer) {
    @extend %underline;
  }

  img {
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--black);
    margin: $s 0;
  }
}

.innerContainer {
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: 800px;
  height: calc(fit-content + $g);

  @media screen and (max-width: $mobileBreakpoint) {
    max-width: 600px;
  }
}

.title {
  margin-bottom: $l;
  margin-top: $s;
}

.block {
  margin-bottom: 1em;

  @media screen and (max-width: $mobileBreakpoint) {
    width: calc(100vw - $s * 2);
    max-width: 600px;
  }
}

.blockImage {
  display: flex;
  justify-content: center;
}

.postFooter {
  height: 50px;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $s;

  @media screen and (min-width: $mobileBreakpoint) {
    padding: 0;
  }
}

.backContainer {
  display: flex;
  align-items: center;
  gap: $s;

  @media screen and (min-width: $mobileBreakpoint) {
    display: none;
  }

  p {
    @extend %underlineS;
  }

  svg {
    margin-top: 2px;
  }
}
