@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    z-index: 1;
    animation: slideOpen forwards ease-out 250ms;
    border-left: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.isClosing {
    animation: slideClose forwards ease-out 250ms;
}

.innerContainer {
    width: fit-content;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link {
    @extend %fontL;
    width: 100%;
    display: block;
    text-align: center;
    color: var(--black);
    padding: $xs;
}

.linkCurrent {
    background-color: var(--black);
    color: var(--white);
}

// .closeButton {
//     color: black;
// }

// .topRow {
//     height: 50px;
//     padding: 0 20px;
//     box-sizing: border-box;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     flex-direction: row-reverse;
// }

@keyframes slideOpen {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideClose {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}
