@import '@styles/variables.scss';
@import '@styles/typo.scss';

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $background;
}

.closeButton {
    color: white;
}