@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.pageTitleContainer {
  @extend %fontL;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  height: 34px;
}