@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  width: 100vw;
  background-color: var(--black);
  height: $footerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: $s;
}

.link {
  @extend %fontXS;
  @extend %underlineS;
  color: var(--background);
}

.separator {
  width: 8px;
  height: 1px;
  background-color: var(--background);
  margin-top: 4px;
}

.item {
  display: flex;
  align-items: center;
  gap: $s;
}
