@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  height: 100%;
  position: relative;
}

.yearsContainer {
  height: 30%;
  gap: $m;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.year {
  @extend %fontM;
  padding: $xxs;
  z-index: 1;
  display: flex;
  align-items: center;
}

.selection {
  position: absolute;
  background-color: var(--accent);
  height: 35px;
  width: 75px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--black);
  margin-top: -2px;
}
