@import '@styles/variables.module.scss';

.container {
  position: relative;
}

.containerIdle {

}

.containerEnter {

}

.containerLeave {

}

.belowFrame {
  position: absolute;
  background-color: $black;
  top: 15px;
  left: -15px;
}

.aboveFrame {
  position: absolute;
  background-color: $background;
  top: 0;
  left: 0;
  border: 1px solid $black;
}

.triangleTop {
  transform: rotate(180deg);
}

.triangleBottom {
  transform: rotate(0deg);
}

.triangleTopContainer {
  position: absolute;
  left: -16px;
  top: -1px;
  height: 17px;
  width: 17px;
  transform-origin: bottom left;
}

.triangleBottomContainer {
  position: absolute;
  right: 14px;
  bottom: -1px;
  height: 17px;
  width: 17px;
  transform-origin: bottom left;
}
