@import '@styles/variables.module.scss';

$easInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
$duration: 400ms;

.container {
  position: relative;

  &:hover, &:focus, &:active {
    .triangleTop, .triangleBottom {
      fill: var(--accent);
    }
    .belowFrame {
      background-color: var(--accent);
    }
  }
}

.belowFrame {
  position: absolute;
  background-color: var(--black);
  top: 15px;
  left: -15px;
  transition: background-color $duration $easInOutQuad;
}

.aboveFrame {
  position: absolute;
  background-color: var(--background);
  top: 0;
  left: 0;
  border: 1px solid var(--black);
}

.triangleTop {
  transform: rotate(180deg);
  transition: fill $duration $easInOutQuad;
}

.triangleBottom {
  transform: rotate(0deg);
  transition: fill $duration $easInOutQuad;
}

.triangleTopContainer {
  position: absolute;
  left: -16px;
  top: -1px;
  height: 17px;
  width: 17px;
  transform-origin: bottom left;
}

.triangleBottomContainer {
  position: absolute;
  right: -1px;
  bottom: -1px;
  height: 17px;
  width: 17px;
  transform-origin: bottom left;
}
