@import '@styles/variables.module.scss';

.container {
  height: 100%;
  margin-top: calc(5vh + $g);
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobileBreakpoint) {
    margin-top: calc($burgerMenuHeight + $l);
  }
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;

  @media screen and (max-width: $mobileBreakpoint) {
    display: block;
  }
}

.yearSelectorContainer {
  width: 35%;

  @media screen and (max-width: $mobileBreakpoint) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: $m;
    height: 45px;
  }
}

.articlesContainer {
  width: 65%;
  padding-left: $m;
  padding-right: $m;
  display: flex;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: $mobileBreakpoint) {
    width: calc(100% - $m * 2);
    margin-top: $m;
    padding-left: $m;
    padding-right: $m;
  }
}
