@import '@styles/variables.module.scss';

.container {
  height: 100%;
  display: flex;
}

.yearSelectorContainer {
  width: 35%;
  height: 75%;
}

.articlesContainer {
  width: 65%;
  margin-top: $m;
}