@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  display: flex;
  gap: $s;
  height: 100%;
}

.navContainer {
  margin-top: $g;
  display: flex;
  margin-left: $m;
  justify-content: space-between;
  gap: $s;
}

.navUl {
  display: flex;
  flex-direction: column;
  gap: $s;
}

.navItem {
  @extend %fontL;
}

.bar {
  width: 1px;
  background-color: var(--black);
  height: 100%;
}

.navPointer {
  display: flex;
  align-items: center;
  gap: $xs;
}

.pointerRound {
  background-color: var(--accent);
  border-radius: 100%;
  width: $xs;
  height: $xs;
}

.pointerBar {
  height: 1px;
  width: 35px;
  background-color: var(--black);
}
