@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.container {
  display: flex;
  height: 100%;
  border-right: 1px solid var(--black);
  justify-content: center;
}

.innerContainer {
  margin-top: calc(2.5vh + $s);
}

.navContainer {
  margin-top: $g;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navInnerContainer {
  display: flex;
  width: 135px;
  gap: $m;
}

.navUl {
  display: flex;
  flex-direction: column;
  gap: $s;
  position: relative;
}

.navItem {
  @extend %fontML;
}

.bar {
  width: 1px;
  background-color: var(--black);
  height: 100%;
}

.navPointer {
  display: flex;
  align-items: center;
  gap: $s;
}

.pointerRound {
  background-color: var(--accent);
  border-radius: 100%;
  width: $xs;
  height: $xs;
}

.pointerBar {
  height: 1px;
  width: 30px;
  background-color: var(--black);
}
