@import '@styles/variables.module.scss';

.container {
  position: relative;
}

.belowFrame {
  position: absolute;
  width: 150px;
  height: 174px;
  background-color: $black;
  top: 15px;
  left: -15px;
}

.aboveFrame {
  position: absolute;
  width: 150px;
  height: 174px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
