@import '@styles/variables.module.scss';
@import '@styles/typo.module.scss';

.rightPageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.topInfo {
  @extend %fontS;
  display: flex;
  flex-direction: column;
  gap: $xxs;
  align-items: flex-end;
}

.bar {
  height: 1px;
  width: 50px;
  background-color: $gray;
}

.bottomInner {
  @extend %fontS;
  display: flex;
  flex-direction: column;
  gap: $xxs;
  align-items: flex-start;
  transform-origin: top;
  transform: rotate(-90deg);
}

.bottomInfo {
  display: flex;
  justify-content: flex-end;
}
